<!-- product-card.component.html -->
<div class="card">
          <img src="{{ product.imageUrl }}" class="card-img-top" alt="{{ product.productName }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.productName }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>Fiyat:</strong> {{ product.price }} TL</p>
            <a href="#" class="btn btn-primary">Satın Al</a>
          </div>
        </div>
        