<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mustafa Ülker E-Ticaret Sitesi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user">Profil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kategoriler
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/products">Ürünler</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex me-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" name="searchText">
        <button class="btn btn-outline-primary" type="button" (click)="filterProducts()">Search</button>
      </form>
      <button class="btn btn-outline-success mx-1" routerLink="/cart">Cart</button>
      <button class="btn btn-outline-danger mx-1" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of filteredProducts">
      <app-product-card [product]="product" (addToCart)="addToCart(product)"></app-product-card>
    </div>
  </div>
</div>

<footer class="footer bg-dark-gray text-light py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <nav class="nav">
          <ul class="nav flex-column flex-md-row">
            <li class="nav-item">
              <a class="nav-link text-light" href="https://twitter.com/MusstafaUlker" target="_blank">
                <i class="fab fa-twitter"></i> Musstafa ÜLKER - Twitter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="https://www.instagram.com/mustafalker/" target="_blank">
                <i class="fab fa-instagram"></i> Musstafa ÜLKER - Instagram
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="https://dev.to/mustafaulker" target="_blank">
                <i class="fab fa-dev"></i> Musstafa ÜLKER - Dev.To
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="https://www.linkedin.com/in/musstafaulker/" target="_blank">
                <i class="fab fa-linkedin"></i> Musstafa ÜLKER - LinkedIn
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6 text-md-end text-center">
        <div class="copyright">
          &copy; {{ test | date: 'yyyy' }}, made with <span style="color: red;">♥</span> by
          <a class="text-light" href="https://github.com/mustafalker" target="_blank">Designer</a> for a better learning.
        </div>
      </div>
    </div>
  </div>
</footer>
